@using RegistanFerghanaLC.Service.Dtos.Accounts;
@model AccountLoginDto
@{
    Layout = "_AccountLayout.cshtml";
}

<div class="card w-450px h-470px mt-20 mb-100 shadow1" style="margin-left:auto; margin-right:auto; box-shadow: 0px 0px 15px gray;">
    <div class="py-10 pe-10 px-10">
        <form asp-controller="accounts" asp-action="Login" method="post" >
            <div class="text-center mb-11">
                <h1 class="text-registan fw-bolder mb-3">
                    Sign In
                </h1>
            </div>
            <div class="form__inputBox mt-5">
                <label class="required form-label text-registan">Phone Number</label>
                <input type="text" asp-for=PhoneNumber placeholder="+998991112233" class="form-control form-control-solid"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form__inputBox mt-5 ">
                <label class="required form-label text-registan">Password</label>
                <input type="password" asp-for=Password placeholder="Password" class="form-control form-control-solid"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-20 mb-10">
                <input type="submit" class="btn btn-registan" style="width:100%;" value="SIGN IN" />
            </div>
        </form>
    </div>
</div>
