@using RegistanFerghanaLC.Service.Dtos.Admins;
@model AdminRegisterDto
@{
    Layout = "_AccountLayout.cshtml";
}

<div class="card w-lg-500px p-10 mt-20 mb-20 shadow1" style="margin-left:auto; margin-right:auto; box-shadow: 0px 0px 15px gray;">
    <!--begin::Form-->
    <form asp-controller="accounts" asp-action="register">
        <!--begin::Heading-->
        <div class="text-center mb-11">
            <h1 class="text-dark fw-bolder mb-3">
                Sign Up
            </h1>
        </div>
        <!--begin::Heading-->
        <!--begin::Input group--->
        <div class="fv-row mb-8 fv-plugins-icon-container">
            <input type="text" asp-for=FirstName placeholder="First Name" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="fv-row mb-8 fv-plugins-icon-container">
            <input type="text" asp-for="LastName" placeholder="Last Name" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="fv-row mb-8 fv-plugins-icon-container">
            <input type="date" asp-for=BirthDate placeholder="Birth Date" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="fv-row mb-8 fv-plugins-icon-container">
            <input type="text" asp-for="Address" placeholder="Address" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="fv-row mb-8 fv-plugins-icon-container">
            <input type="tel" asp-for="PhoneNumber" placeholder="+998yyxxxzzzz" autocomplete="off" class="form-control bg-transparent">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <!--begin::Input group-->
        <div class="fv-row mb-10 fv-plugins-icon-container" data-kt-password-meter="true">
            <!--begin::Wrapper-->
            <div class="mb-1">
                <!--begin::Input wrapper-->
                <div class="position-relative mb-3">
                    <input class="form-control bg-transparent" asp-for=Password type="password" placeholder="Password" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                        <i class="bi bi-eye-slash fs-2"></i>
                        <i class="bi bi-eye fs-2 d-none"></i>
                    </span>
                </div>
                <!--end::Input wrapper-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Input group--->
        <div class="d-grid mb-8">
            <button type="submit" id="kt_sign_up_submit" class="btn btn-registan">
                <span class="indicator-label">
                    Sign Up
                </span>
            </button>
        </div>
        <div class="d-grid mb-10">
            <a asp-controller="accounts" asp-action="login" class="btn btn-secondary">
                <span class="indicator-label">
                    Sign In
                </span>
            </a>
        </div>
    </form>
    <!--end::Form-->
</div>