@using RegistanFerghanaLC.Service.ViewModels.StudentViewModels;
@model StudentBaseViewModel

<div class="d-flex justify-content-center" style="margin-top:250px; background-color: transparent;">
    <div class="card px-4 pt-4 pb-4 pe-4">
        <form asp-action="delete" asp-controller="adminstudent"  asp-route-Id="@Model.Id" method="post">
            <div class="card-body">
                <h3>
                    Are you sure that you want to delete @Model.FirstName @Model.LastName from the list of students.?
                </h3>
                <div class="mt-4 mb-2 d-flex justify-content-end">
                    <input asp-controller="AdminStudent" asp-action="delete" asp-route-Id="@Model.Id" type="submit" class="btn btn-danger me-2" value="Delete" style="border-radius: 20px;">
                    <a asp-controller="AdminStudent" asp-action="index" class="btn btn-secondary" style="border-radius:20px;">Cancel</a>
                </div>
            </div>
        </form>

    </div>

</div>
